@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    color: #190033;
  }

  body {
    padding: 24px;
  }

  a {
    @apply text-aubergine underline    
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  @screen md {
    body {
      padding: 72px;
    }
  }
}