<a
  class="flex flex-row items-center pt-5 pb-8 cursor-pointer"
  onclick="history.back()"
>
  <svg
    width="20"
    height="18"
    fill="none"
    viewBox="0 0 20 18"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill="#190033"
      d="M7.96967 17.0303C8.26256 17.3232 8.73744 17.3232 9.03033 17.0303C9.32322 16.7374 9.32322 16.2626 9.03033 15.9697L7.96967 17.0303ZM1 9L0.46967 8.46967C0.176777 8.76256 0.176777 9.23744 0.46967 9.53033L1 9ZM9.03033 2.03033C9.32322 1.73744 9.32322 1.26256 9.03033 0.96967C8.73744 0.676777 8.26256 0.676777 7.96967 0.96967L9.03033 2.03033ZM19 9.75C19.4142 9.75 19.75 9.41421 19.75 9C19.75 8.58579 19.4142 8.25 19 8.25V9.75ZM9.03033 15.9697L1.53033 8.46967L0.46967 9.53033L7.96967 17.0303L9.03033 15.9697ZM1.53033 9.53033L9.03033 2.03033L7.96967 0.96967L0.46967 8.46967L1.53033 9.53033ZM19 8.25H1V9.75H19V8.25Z"
    />
  </svg>
  <span class="ml-2 hover:text-blue-800 underline text-lg">Back</span>
</a>
