<footer class="max-w-2xl mx-auto flex flex-col justify-center flex-wra items-center py-6">
  <img class="align-middle inline-block self-center" src="https://registry.pledge.io/certificates/assets/svgs/powered-by-pledge.svg" />
  <p class="text-xs text-white">version: <%= locals.version %> </p>
</footer>