<div
  class="mx-auto max-w-screen-md pl-6 py-5 border-solid border border-gray-200 rounded-t flex justify-between"
>
  <div>
    <svg
      width="128"
      height="30"
      viewBox="0 0 128 30"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect width="128" height="30" rx="8" fill="#D2D1CE" />
    </svg>
  </div>
  <menu class="flex justify-end items-center font-medium">
    <li class="mr-6">
      <a
        href="/"
        class="<%= locals.url.indexOf('/orders') > -1 ? '' : 'text-blue' %>"
        >Marketplace</a
      >
    </li>
    <li class="mr-6">
      <a
        href="/orders"
        class="<%= locals.url.indexOf('/orders') > -1 ? 'text-blue' : '' %>"
        >Order history</a
      >
    </li>
  </ul>
</div>
