<div
  class="mx-auto max-w-screen-md py-5 border-solid border border-gray-200"
>
  <ul class="flex justify-end">
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800 underline <%= locals.url === '/marketplace' ? 'text-blue cursor-default' : '' %>" href="/marketplace"
        >Marketplace</a
      >
    </li>
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800 underline <%= locals.url === '/orders' ? 'text-blue cursor-default' : '' %>" href="/orders"
        >Order history</a
      >
    </li>
  </ul>
</div>
