<div class="relative block border border-gray-200">
  <img
    alt="Toy"
    src="https://images.unsplash.com/photo-1603356033288-acfcb54801e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
    class="h-56 w-full object-contain"
  />

  <div class="p-6">
    <h3 class="mt-1 text-lg font-bold">
      <%= portfolio.name %>
    </h3>
    <p class="text-sm font-medium text-gray-600">£<%= portfolio.price_per_kg %> per kg</p>

    <button
      type="button"
      class="mt-4 mb-4 flex w-full items-center justify-center rounded-sm bg-blue px-8 py-4"
    >
      <span class="text-sm font-medium text-white">Buy Offsets</span>      
    </button>
    <div class="w-full text-center">
      <a class="text-lg underline" href="/portfolio/<%= portfolio.id %>">View details</a>
    </div>
  </div>
</div>
